<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.nolanlawson.logcat" android:installLocation="auto" 
	android:versionName="1.1.8" android:versionCode="18">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".LogcatActivity" android:label="@string/app_name"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".AboutActivity" android:theme="@android:style/Theme.Dialog" />
	
		
		<activity android:name=".WidgetClickedActivity" android:theme="@android:style/Theme.Dialog" />
		

		<activity android:name=".SettingsActivity" />

		<service android:name=".LogcatRecordingService" />

		<service android:name=".CrazyLoggerService"/>

		<receiver android:name=".RecordingWidgetProvider">
		
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<data android:scheme="catlog_widget"/>
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="com.nolanlawson.logcat.action.RECORD_OR_STOP" />
				<data android:scheme="catlog_widget" />
			</intent-filter>
			
			
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/recording_widget_info" />
		</receiver>


	</application>

	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="9" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<supports-screens android:smallScreens="true"
		android:normalScreens="true" android:largeScreens="true"
		android:xlargeScreens="true" android:anyDensity="true" 
		android:resizeable="true"/>


</manifest> 